# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/
ENV/

# =========================
# Dependency / Build
# =========================
*.egg-info/
dist/
build/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

.vscode/
.idea/

# =========================
# Docker
# =========================
docker-data/
*.pid

# =========================
# Vector DB / Local Data
# =========================
qdrant_data/
data/
storage/

# =========================
# Test / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Jupyter / Experiments
# =========================
.ipynb_checkpoints/

# =========================
# Misc
# =========================
*.tmp
*.bak

# =========================
# Doc txt files
# =========================
*.txt

# =========================
# qdrant storage
# =========================
qdrant_storage/

# =========================
# model
# =========================
model/